.dotsContainer {
    width: 200px;
    padding-left: 8px;
}

.buttonsContainer {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchContainer {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    padding-left: 1014px;
    padding-right: 20px;
}